.articles__container {
  width: 100%;
  height: auto;
  min-height: 100vh;
  margin: 100px auto;
  justify-content: flex-start;
  flex-direction: column;
  gap: 32px;
  padding: 0 20px;

  @media screen and (min-width: 789px) {
    width: 62.15%;
    padding: 0;
  }
}

.cards,
.card__header {
  width: 100%;
}

.cards {
  background-color: white;
}

.card__header,
.articles__container {
  display: flex;
  align-items: center;
}

.card__container {
  padding: 24px 25px 25px;
  .card__header {
    justify-content: space-between;
    margin-bottom: 22px;
    font-size: 16px;
    color: var(--gray-100);
  }

  .card__content {
    .card__title {
      font-weight: 400;
      font-size: 26px;
      margin-bottom: 8px;
    }

    .card__description {
      font-size: 18px;
      line-height: 32px;
      color: var(--gray-100);
    }
  }
}

.box-icon {
  position: relative;
  cursor: pointer;
  .icon {
    position: absolute;
    font-size: 1.25rem;
    right: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s;
  }
  .icon.clr-red {
    animation: bounce-animation 1.25s linear;
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@keyframes bounce-animation {
  0% {
    transform: translate(10%, -50%) scale(1, 1);
    width: 3rem;
    height: 3rem;
    border: 1px solid red;
  }
  50% {
    transform: translate(10%, -200%) scale(1.5, 1.5);
    width: 3rem;
    height: 3rem;
    border-radius: 5rem;
  }
  100% {
    transform: translate(10%, -50%) scale(1, 1);
    width: 3rem;
    height: 3rem;
    border: 1px solid #fff;
  }
}
