$white: #ffffff;
$gray-050: #1a202c;
$gray-100: #717171;
$gray-900: #f3f5f7;

$header-gradient: (
  'first': '#574AE8',
  'second': '#3EA1DB'
);

$fonts: (
  'second': 'Inter',
  'first': 'Lexend Deca'
);
