@import './reset';
@import './variables';

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --clr-white: #{$white};
  --gray-050: #{$gray-050};
  --gray-100: #{$gray-100};
  --gray-900: #{$gray-900};

  --first-clr-gradient: #{map-get($header-gradient, 'first')};
  --second-clr-gradient: #{map-get($header-gradient, 'second')};

  --font-first: #{map-get($fonts, 'first')};
  --font-second: #{map-get($fonts, 'second')};
}

body,
html,
button {
  font-family: var(--font-first);
}

body {
  background-color: var(--gray-900);
}

@media screen and (max-width: 789px) {
  html {
    font-size: 93.75%;
  }
}
